/* Resetear */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111111;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Animaciones de titulos */
@keyframes mostrar-borrar-textos-largos {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 8.5em;
    }

    90%,
    100% {
        width: 0;
    }
}

@keyframes mostrar-borrar-textos-medianos {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 6em;
    }

    90%,
    100% {
        width: 0;
    }
}

@keyframes mostrar-borrar-textos-cortos {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 4.8em;
    }

    90%,
    100% {
        width: 0;
    }
}

/* Animaciones de cursor */
@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

/* Estilos del header */
header {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f8f8f8;
}

header div .fondo-menu {
    background-color: #1E1E1E;
}

header div .fondo-menu .container-fluid .navbar-toggler .navbar-toggler-icon {
    filter: invert(88%) sepia(99%) saturate(37%) hue-rotate(306deg) brightness(120%) contrast(95%);
}

header div .fondo-menu .container-fluid .nav-underline {
    column-gap: 30px;
}

header div .fondo-menu .container-fluid .nav-underline .nav-item .nav-link {
    display: inline-block;
}

header div .navbar {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    --bs-navbar-color: #f8f8f8;
    --bs-navbar-active-color: #C39A67;
    --bs-navbar-hover-color: #C39A67;
}

/* Estilos del Index*/
main .section-index {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1E1E1E;
    flex-wrap: wrap;
    align-content: center;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

main .section-index .presentacion {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    color: #f8f8f8;
    padding: 1.5rem;
}

main .section-index .presentacion .presentacion-principal {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 5px;
    padding: 1rem 0rem;
}

main .section-index .presentacion .presentacion-principal .titulo {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid #f8f8f8;
    font-size: 32px;
    font-weight: bold;
    animation: mostrar-borrar-textos-largos 4s steps(11) infinite, cursor 0.5s step-end infinite alternate;
}

main .section-index .presentacion .presentacion-principal .subtitulo {
    font-size: 20px;
    font-style: italic;
}

main .section-index .presentacion .presentacion-secundaria {
    padding-bottom: 1rem;
}

main .section-index .presentacion .presentacion-secundaria .descripcion {
    font-size: 18px;
}

main .section-index .presentacion .botones-redes {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 1.5rem;
}

main .section-index .presentacion .botones-redes a {
    display: inline-block;
    text-decoration: none;
}

main .section-index .presentacion .botones-redes .linkedin {
    grid-area: 1/1/2/2;
}

main .section-index .presentacion .botones-redes .github {
    grid-area: 1/2/2/3;
}

main .section-index .presentacion .botones-redes .correo {
    grid-area: 1/3/2/4;
}

main .section-index .presentacion .botones-redes .cv {
    grid-area: 2/2/3/3;
    width: 100%;
}

main .section-index .presentacion .botones-redes .cv .boton-cv {
    display: flex;
    justify-content: center;
    color: #f8f8f8;
    background-color: #C39A67;
    border-radius: 10px;
    padding: 0.8rem;
}

main .section-index .img {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

main .section-index .img img {
    width: 70%;
    border-radius: 30%;
}

/* Estilos de Sobre mi */
main .section-sobre-mi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    row-gap: 25px;
}

main .section-sobre-mi .titulo-sobre-mi {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-cortos 4s steps(11) infinite, cursor 0.5s step-end infinite alternate;
}

main .section-sobre-mi .informacion-basica {
    background-color: #353437;
    padding: 1.5rem;
}

main .section-sobre-mi .informacion-basica .subtitulo {
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0;
}

main .section-sobre-mi .informacion-basica .descripcion {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

main .section-sobre-mi .educacion-experiencia {
    background-color: #353437;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

main .section-sobre-mi .educacion-experiencia .subtitulo {
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0;
}

main .section-sobre-mi .educacion-experiencia .conjunto-elementos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

main .section-sobre-mi .educacion-experiencia .conjunto-elementos .elemento {
    display: grid;
    grid-template-columns: 5px 1fr;
    grid-template-rows: repeat(3, 0.5fr);
    grid-column-gap: 20px;
    grid-row-gap: 3px;
}

main .section-sobre-mi .educacion-experiencia .conjunto-elementos .elemento .linea {
    grid-area: 1/1/4/2;
    background-color: #C39A67;
}

main .section-sobre-mi .educacion-experiencia .conjunto-elementos .elemento .puesto {
    grid-area: 1/2/2/3;
    display: inline-block;
    font-size: 18px;
    margin: 0;
}

main .section-sobre-mi .educacion-experiencia .conjunto-elementos .elemento .lugar {
    grid-area: 2/2/3/3;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main .section-sobre-mi .educacion-experiencia .conjunto-elementos .elemento .fecha {
    grid-area: 3/2/4/3;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main .section-sobre-mi .hobbies {
    background-color: #353437;
    padding: 1.5rem;
}

main .section-sobre-mi .hobbies .subtitulo {
    font-size: 25px;
    padding-bottom: 10px;
    margin: 0;
}

main .section-sobre-mi .hobbies ul {
    margin: 0;
}

main .section-sobre-mi .hobbies ul .descripcion {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

/* Estilos de Habilidades */
main .section-habilidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

main .section-habilidades .titulo-habilidades {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-medianos 4s steps(11) infinite, cursor 0.5s step-end infinite alternate;
}

main .section-habilidades .items {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 2.5rem;
}

main .section-habilidades .items .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

main .section-habilidades .items .item .logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

main .section-habilidades .items .item .logo .img-item {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 50%;
    justify-content: center;
    background-color: #353437;
}

main .section-habilidades .items .item .logo .img-item:hover {
    background-color: #C39A67;
}

main .section-habilidades .items .item .logo .name-item {
    font-size: 25px;
}

main .section-habilidades .items .item .subitems {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}

main .section-habilidades .items .item .subitems .subitem {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

main .section-habilidades .items .item .subitems .subitem .img-subitem {
    display: flex;
    justify-content: center;
    background-color: #353437;
    padding: 0.7rem;
    border-radius: 50%;
}

main .section-habilidades .items .item .subitems .subitem .img-subitem:hover {
    background-color: #C39A67;
    scale: 1.1;
}

main .section-habilidades .items .item .subitems .subitem .name-subitem {
    font-weight: 600;
    text-align: center;
}

/* Estilos de Proyectos */
main .section-proyectos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

main .section-proyectos .titulo-proyectos {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-cortos 4s steps(11) infinite, cursor 0.5s step-end infinite alternate;
}

main .section-proyectos .proyectos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding-top: 2rem;
}

main .section-proyectos .proyectos .proyecto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

main .section-proyectos .proyectos .proyecto .img-proyecto {
    display: flex;
    justify-content: center;
}

main .section-proyectos .proyectos .proyecto .img-proyecto img {
    width: 100%;
}

main .section-proyectos .proyectos .proyecto .agrupacion {
    padding: 1.5rem;
    background-color: #353437;
}

main .section-proyectos .proyectos .proyecto .agrupacion .descripcion-proyecto {
    font-size: 18px;
    background-color: #353437;
}

main .section-proyectos .proyectos .proyecto .agrupacion .descripcion-proyecto .subtitulo {
    display: inline-block;
    font-size: 25px;
    text-align: center;
}

main .section-proyectos .proyectos .proyecto .agrupacion .descripcion-proyecto .informacion {
    display: inline-block;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

main .section-proyectos .proyectos .proyecto .agrupacion .extras .link-proyecto {
    display: flex;
    justify-content: center;
    padding-bottom: 0.8rem;
}

main .section-proyectos .proyectos .proyecto .agrupacion .extras .tecnologias {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: bold;
}

main .section-proyectos .proyectos .proyecto .agrupacion .extras .tecnologias .boton-tech:hover {
    color: #C39A67;
}

/* Estilos de Certificados */
main .section-certificados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

main .section-certificados .titulo-certificados {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-medianos 4s steps(11) infinite, cursor 0.5s step-end infinite alternate;
}

main .section-certificados .certificados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    padding-top: 2rem;
}

main .section-certificados .certificados .certificado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

main .section-certificados .certificados .certificado .img-universidad {
    display: flex;
    justify-content: center;
    width: 100%;
}

main .section-certificados .certificados .certificado .descripcion-certificado {
    padding: 1.5rem;
    background-color: #353437;
}

main .section-certificados .certificados .certificado .descripcion-certificado .subtitulo {
    display: inline-block;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}

main .section-certificados .certificados .certificado .descripcion-certificado .descripcion {
    display: inline-block;
    font-size: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

main .section-certificados .certificados .certificado .descripcion-certificado .boton-certificado {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

main .section-certificados .certificados .certificado .descripcion-certificado .boton-certificado a {
    text-decoration: none;
}

main .section-certificados .certificados .certificado .descripcion-certificado .boton-certificado a .boton-credencial {
    display: flex;
    justify-content: center;
    color: #f8f8f8;
    background-color: #C39A67;
    border-radius: 10px;
    padding: 0.8rem;
}

/* Estilos de Footer */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #f8f8f8;
    font-size: 18px;
    background-color: #1E1E1E;
    padding: 1rem;
    row-gap: 5px;
}

footer .texto-footer {
    display: block;
    margin: 0;
}

/* Estilos para Tablet */
@media screen and (max-width: 767px) {
    header div .navbar {
        border-radius: 0;
    }
}

@media screen and (min-width: 600px) {

    /* Index */
    main .section-index {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
    }

    main .section-index .presentacion .presentacion-principal {
        text-align: justify;
    }

    main .section-index .presentacion .presentacion-principal .titulo {
        font-size: 45px;
        height: 60px;
    }

    main .section-index .presentacion .presentacion-secundaria {
        padding-bottom: 1.5rem;
    }

    main .section-index .presentacion .botones-redes {
        display: flex;
        justify-content: center;
        column-gap: 3rem;
    }

    main .section-index .presentacion .botones-redes .cv {
        width: auto;
    }

    /* Sobre mi */
    main .section-sobre-mi {
        padding: 4rem 6rem;
    }

    /* Habilidades */
    main .section-habilidades {
        width: 100%;
        padding: 4rem 5rem;
    }

    main .section-habilidades .items {
        row-gap: 90px;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    main .section-habilidades .items .item {
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        height: 32vw;
        width: 40vw;
        max-height: 200px;
        margin-bottom: 6rem;
    }

    main .section-habilidades .items .item .logo {
        justify-content: center;
        position: absolute;
    }

    main .section-habilidades .items .item .subitems {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    main .section-habilidades .items .item .subitems .subitem {
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    main .section-habilidades .items .item .subitems .subitem:nth-child(1) {
        transform: rotate(0deg) translate(180px) rotate(0deg);
    }

    main .section-habilidades .items .item .subitems .subitem:nth-child(2) {
        transform: rotate(45deg) translate(210px) rotate(-45deg);
    }

    main .section-habilidades .items .item .subitems .subitem:nth-child(3) {
        transform: rotate(90deg) translate(190px) rotate(-90deg);
    }

    main .section-habilidades .items .item .subitems .subitem:nth-child(4) {
        transform: rotate(135deg) translate(210px) rotate(-135deg);
    }

    main .section-habilidades .items .item .subitems .subitem:nth-child(5) {
        transform: rotate(180deg) translate(180px) rotate(-180deg);
    }

    /* Proyectos */
    main .section-proyectos {
        padding: 4rem 6rem;
    }

    main .section-proyectos .proyectos .proyecto .agrupacion .extras .link-proyecto {
        justify-content: end;
        padding-right: 1rem;
    }

    main .section-proyectos .proyectos .proyecto .agrupacion .extras .tecnologias {
        justify-content: end;
        padding-right: 1rem;
    }

    /* Certificados */
    main .section-certificados {
        padding: 4rem 6rem;
    }

    main .section-certificados .certificados .certificado {
        flex-direction: row;
        background-color: #353437;
        padding-top: 2rem;
    }

    main .section-certificados .certificados .certificado .img-universidad {
        width: 15%;
        height: 110px;
        margin-left: 2rem;
    }

    main .section-certificados .certificados .certificado .descripcion-certificado {
        width: 75%;
        padding-top: 0;
        padding-right: 1rem;
    }

    main .section-certificados .certificados .certificado .descripcion-certificado .subtitulo {
        text-align: start;
        margin: 0;
    }

    main .section-certificados .certificados .certificado .descripcion-certificado .descripcion {
        margin: 0;
    }

    main .section-certificados .certificados .certificado .descripcion-certificado .boton-certificado {
        justify-content: start;
    }
}

/* Estilos para Desktop */
@media screen and (min-width: 1024px) {

    /* Index */
    main .section-index .presentacion {
        width: 55%;
    }

    main .section-index .presentacion .botones-redes {
        justify-content: auto;
        column-gap: 4rem;
    }

    /* Sobre mi */
    main .section-sobre-mi {
        align-content: center;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 40px 0.3fr 0.3fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding: 4rem 8rem;
    }

    main .section-sobre-mi .titulo-sobre-mi {
        grid-area: 1/1/2/3;
    }

    main .section-sobre-mi .informacion-basica {
        grid-area: 2/1/3/3;
    }

    main .section-sobre-mi .educacion-experiencia {
        grid-area: 3/1/4/2;
    }

    main .section-sobre-mi .hobbies {
        grid-area: 3/2/4/3;
    }

    main .section-sobre-mi .hobbies ul .descripcion {
        padding: 7px;
    }

    /* Habilidades */
    main .section-habilidades {
        padding: 4rem 6rem;
    }

    main .section-habilidades .items {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* Proyectos */
    main .section-proyectos {
        padding: 4rem 8rem;
    }

    main .section-proyectos .proyectos .proyecto {
        flex-direction: row;
        gap: 0;
    }

    main .section-proyectos .proyectos .proyecto .img-proyecto {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    main .section-proyectos .proyectos .proyecto .agrupacion {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        padding-right: 2rem;
        width: 40%;
        background-color: #353437;
    }

    main .section-proyectos .proyectos .proyecto .agrupacion .descripcion-proyecto .subtitulo {
        display: block;
        font-size: 25px;
        text-align: right;
        padding-bottom: 1.5rem;
    }

    main .section-proyectos .proyectos .proyecto .agrupacion .descripcion-proyecto .informacion {
        text-align: right;
        background-color: #C39A67;
        margin-left: -10em;
        padding-left: 2rem;
        padding-right: 1rem;
        border-radius: 10px;
    }

    main .section-proyectos .proyectos .proyecto .agrupacion .extras .link-proyecto {
        padding-top: 0.8rem;
    }

    main .section-proyectos .proyectos .proyecto .agrupacion .extras .tecnologias {
        column-gap: 15px;
    }

    /* Certificados */
    main .section-certificados {
        padding: 4rem 8rem;
    }

    main .section-certificados .certificados {
        display: flex;
        justify-content: flex-start;
        justify-items: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2em;
    }

    main .section-certificados .certificados .certificado {
        width: 48%;
        padding-top: 1.3rem;
        column-gap: 2em;
    }

    main .section-certificados .certificados .certificado .img-universidad {
        max-width: 100px;
        height: 50%;
        margin: 0;
    }

    main .section-certificados .certificados .certificado .img-universidad img {
        width: 100%;
    }

    main .section-certificados .certificados .certificado .descripcion-certificado {
        width: 70%;
        padding-top: 0;
        padding-left: 0;
        padding-right: 1rem;
        padding-bottom: 1.3rem;
    }
}

/*# sourceMappingURL=style.css.map */