/* Resetear */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Estilos generales */
body {
    background-color: #111111;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

@keyframes mostrar-borrar-textos-largos {
    0%,10% {
      width: 0;
    }
    45%, 55% {
      width: 8.5em;
    }
    90%, 100% {
      width: 0;
    }
}

@keyframes mostrar-borrar-textos-cortos {
    0%,10% {
      width: 0;
    }
    45%, 55% {
      width: 4.8em;
    }
    90%, 100% {
      width: 0;
    }
}

@keyframes mostrar-borrar-textos-medianos {
    0%,10% {
      width: 0;
    }
    45%, 55% {
      width: 6em;
    }
    90%, 100% {
      width: 0;
    }
}

@keyframes cursor {
    50% {
      border-right-color: transparent;
    }
}

/* Estilos del Header */
header {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #f8f8f8;
}

.fondo-menu {
    background-color: #1E1E1E;
}

.nav-underline {
    column-gap: 30px;
}

.nav-link {
    display: inline-block;
}

.navbar {
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    --bs-navbar-color: #f8f8f8;
    --bs-navbar-active-color: #C39A67;
    --bs-navbar-hover-color: #C39A67;
}

.navbar-toggler-icon {
    filter: invert(88%) sepia(99%) saturate(37%) hue-rotate(306deg) brightness(120%) contrast(95%);
}

/* Estilos del Main */

/* Inicio */
.section-index {
    display: flex;
    background-color: #1E1E1E;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 3rem 2rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.presentacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    color: #f8f8f8;
    padding: 1.5rem;
}

.presentacion-principal {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    padding: 1rem 0rem;
}

.presentacion-principal .titulo {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.1em solid #f8f8f8;
    font-size: 32px;
    font-weight: bold;
    animation: mostrar-borrar-textos-largos 4s steps(11) infinite,
    cursor 0.5s step-end infinite alternate;
}

.presentacion-principal .subtitulo {
    font-size: 20px;
    font-style: italic;
}

.presentacion-secundaria {
    padding-bottom: 1rem;
}

.presentacion-secundaria .descripcion {
    font-size: 18px;
}

.botones-redes {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 1.5rem;
}

.botones-redes a {
    display: inline-block;
    text-decoration: none;
}

.linkedin {
    grid-area: 1 / 1 / 2 / 2;
}

.github {
    grid-area: 1 / 2 / 2 / 3;
}

.correo {
    grid-area: 1 / 3 / 2 / 4;
}

.cv {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
}

.boton-cv {
    display: flex;
    justify-content: center;
    color: #f8f8f8;
    background-color: #C39A67;
    border-radius: 10px;
    padding: 0.8rem;
}

section .img {
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
}

section .img img {
    width: 70%;
    border-radius: 30%;
}

/* Sobre mi */
.section-sobre-mi {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem 2.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    row-gap: 25px;
}

.titulo-sobre-mi {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-cortos 4s steps(11) infinite,
    cursor 0.5s step-end infinite alternate;
}

.informacion-basica,
.educacion-experiencia,
.hobbies {
    background-color: #353437;
    padding: 1.5rem;
}

.section-sobre-mi .subtitulo {
    font-size: 25px;
    padding-bottom: 10px;
}

.descripcion,
.subtitulo,
.elemento h3,
.elemento span,
.elemento p {
    margin: 0;
    padding: 0;
}

.descripcion {
    font-size: 18px;
}

.hobbies ul {
    margin: 0;
}

.elemento .contenido h3 {
    font-size: 16px;
}

.educacion-experiencia {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conjunto-elementos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.elemento {
    display: grid;
    grid-template-columns: 5px 1fr;
    grid-template-rows: repeat(3, 0.5fr);
    grid-column-gap: 20px;
    grid-row-gap: 3px;
}

.elemento .linea {
    grid-area: 1 / 1 / 4 / 2;
    background-color: #C39A67;
}

.elemento .puesto {
    grid-area: 1 / 2 / 2 / 3;
    display: inline-block;
    font-size: 18px;
}

.elemento .lugar {
    grid-area: 2 / 2 / 3 / 3;
    display: inline-block;
    font-size: 16px;
}

.elemento .fecha {
    grid-area: 3 / 2 / 4 / 3;
    display: inline-block;
    font-size: 16px;
}

/* Habilidades */
.section-habilidades {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.titulo-habilidades {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-medianos 4s steps(11) infinite,
    cursor 0.5s step-end infinite alternate;
}

.items {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 2.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.logo .name-item {
    font-size: 25px;
}

.item .img-item {
    display: flex;
    padding: 1.5rem;
    border-radius: 50%;
    justify-content: center;
    background-color: #353437;
}

.item .img-item:hover {
    background-color: #C39A67;
}

.subitems {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
}

.subitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.subitem .img-subitem:hover {
    background-color: #C39A67;
    scale: 1.1;
}

.subitem .img-subitem {
    display: flex;
    justify-content: center;
    background-color: #353437;
    padding: 0.7rem;
    border-radius: 50%;
}

.subitem .name-subitem {
    font-weight: 600;
    text-align: center;
}

/* Proyectos */
.section-proyectos {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.titulo-proyectos {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-cortos 4s steps(11) infinite,
    cursor 0.5s step-end infinite alternate;
}

.proyectos {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 2rem;
}

.proyecto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.proyecto .img-proyecto {
    display: flex;
}

.proyecto .img-proyecto img {
    width: 100%;
}

.proyecto .agrupacion {
    padding: 1.5rem;
    background-color: #353437;
}

.proyecto .descripcion-proyecto {
    font-size: 18px;
    background-color: #353437;
}

.proyecto .descripcion-proyecto .subtitulo {
    display: inline-block;
    font-size: 25px;
    text-align: center;
}

.proyecto .descripcion-proyecto .informacion {
    display: inline-block;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.extras .link-proyecto {
    display: flex;
    justify-content: center;
    padding-bottom: 0.8rem;
}

.extras .tecnologias {
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 10px;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: bold;
}

.extras .tecnologias .boton-tech:hover {
    color: #C39A67;
}

/* Certificados */
.section-certificados {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    text-align: justify;
    color: #f8f8f8;
    padding: 3rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.titulo-certificados {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    margin: 0;
    border-right: 0.1em solid #f8f8f8;
    animation: mostrar-borrar-textos-medianos 4s steps(11) infinite,
    cursor 0.5s step-end infinite alternate;
}

.certificados {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 2rem;
}

.certificado {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.certificado .descripcion-certificado {
    padding: 1.5rem;
    background-color: #353437;
}

.descripcion-certificado .subtitulo {
    display: inline-block;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.descripcion-certificado .descripcion {
    display: inline-block;
    font-size: 18px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.boton-certificado {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
}

.boton-certificado a {
    text-decoration: none;
}

.boton-credencial {
    display: flex;
    justify-content: center;
    color: #f8f8f8;
    background-color: #C39A67;
    border-radius: 10px;
    padding: 0.8rem;
}

.certificado .img-universidad {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilos del Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f8f8f8;
    font-size: 18px;
    background-color: #1E1E1E;
    padding: 1rem;
    row-gap: 5px;
}

.texto-footer {
    display: block;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .navbar {
        border-radius: 0;
    }
}

/* Estilos de tablet */
@media screen and (min-width: 600px) {

    /* Inicio */
    .section-index {
        padding-left: 5rem;
        padding-right: 5rem;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
    }

    .presentacion-principal .titulo {
        font-size: 45px;
        height: 60px;
    }

    .presentacion-principal {
        text-align: justify;
    }

    .presentacion-secundaria {
        padding-bottom: 1.5rem;
    }

    .botones-redes {
        display: flex;
        justify-content: center;
        column-gap: 3rem;
    }

    .cv {
        width: auto;
    }

    /* Sobre mi */
    .section-sobre-mi {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 40px repeat(2, 0.5fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        padding: 4rem 5rem;
        margin-top: 4rem;
    }

    .titulo-sobre-mi {
        grid-area: 1 / 1 / 2 / 3;
    }

    .informacion-basica {
        grid-area: 2 / 1 / 3 / 3;
    }

    .educacion-experiencia {
        grid-area: 3 / 1 / 4 / 2;
    }

    .hobbies {
        grid-area: 3 / 2 / 4 / 3;
    }

    /* Habilidades */
    .section-habilidades {
        width: 100%;
        padding: 4rem 5rem;
    }

    .items {
        row-gap: 90px;
        justify-content: space-around;
        margin-bottom: 3rem;
    }

    .item {
        display: grid;
        justify-items: center;
        align-items: center;
        position: relative;
        height: 32vw;
        width: 40vw;
        max-height: 200px;
        margin-bottom: 6rem;
    }

    .item .logo {
        justify-content: center;
        position: absolute;
    }

    .subitems {
        display: flex;
        align-items: center;
        position: absolute;
    }
    
    .subitem {
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    
    .subitem:nth-child(1) { transform: rotate(0deg) translate(180px) rotate(0deg);; }
    .subitem:nth-child(2) { transform: rotate(45deg) translate(210px) rotate(-45deg); }
    .subitem:nth-child(3) { transform: rotate(90deg) translate(190px) rotate(-90deg); }
    .subitem:nth-child(4) { transform: rotate(135deg) translate(210px) rotate(-135deg); }
    .subitem:nth-child(5) { transform: rotate(180deg) translate(180px) rotate(-180deg); }
    
    /* Proyectos */
    .section-proyectos {
        padding: 4rem 5rem;
    }

    .extras .link-proyecto {
        justify-content: end;
        padding-right: 1rem;
    }

    .extras .tecnologias {
        justify-content: end;
        padding-right: 1rem;
    }

    /* Certificados */
    .section-certificados {
        padding: 4rem 5rem;
    }

    .certificado {
        flex-direction: row;
        background-color: #353437;
        padding-top: 2rem;
    }

    .descripcion-certificado .subtitulo {
        text-align: start;
    }

    .certificado .descripcion-certificado {
        width: 75%;
        padding-top: 0;
        padding-right: 0.5rem;
    }

    .certificado .img-universidad {
        width: 15%;
        height: 120px;
        margin-left: 2rem;
    }

    .certificado .img-universidad img {
        width: 100%;
    }

    .boton-certificado {
        justify-content: start;
    }

}

@media screen and (min-width: 1024px) {

    /* Inicio */
    .section-index {
        margin-top: 1.8rem;
        margin-bottom: 3.7rem;
    }

    .presentacion {
        width: 55%;
    }

    .botones-redes {
        justify-content: auto;
        column-gap: 4rem;
    }

    /* Sobre mi */
    .section-sobre-mi {
        padding: 4rem 8rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    /* Habilidades */
    .section-habilidades {
        padding: 4rem 8rem;
    }

    .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Proyectos */
    .section-proyectos {
        padding: 4rem 8rem;
    }

    .proyecto {
        flex-direction: row;
        gap: 0;
    }

    .proyecto .img-proyecto {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .proyecto .agrupacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding-right: 2rem;
        width: 40%;
        background-color: #353437;
    }

    .proyecto .descripcion-proyecto .subtitulo {
        display: block;
        font-size: 25px;
        text-align: right;
        padding-bottom: 1.5rem;
    }

    .proyecto .descripcion-proyecto .informacion {
        text-align: right;
        background-color: #C39A67;
        margin-left: -10rem;
        padding-left: 2rem;
        padding-right: 1rem;
        border-radius: 10px;
    }

    .extras .link-proyecto {
        padding-top: 0.8rem;
    }

    .extras .tecnologias {
        column-gap: 15px;
    }

     /* Certificados */
    .section-certificados {
        padding: 4rem 8rem;
    }

    .titulo-certificados {
        padding-left: 0.5rem;
    }

    .certificados {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 2rem;
    }

    .certificado .img-universidad {
        width: 15%;
        height: 50%;
        margin-left: 1.5rem;
    }

    .certificado .descripcion-certificado {
        width: 70%;
        padding-top: 0;
        padding-left: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 1.3rem;
    }

    .certificado {
        width: 48%;
        padding-top: 1.3rem;
        gap: 30px;
    }

    .descripcion-certificado .subtitulo,
    .descripcion-certificado .descripcion {
        text-align: justify;
        padding-left: 0;
    }

    .boton-credencial {
        padding: 0.6rem;
    }

}