//Importar variables
@import "../utilidades/variables";

/* Resetear */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: $color-fondo-principal;
    display: flex;
    flex-direction: column;
    @extend html
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}