// Variables del proyecto

// Color de fondo principal
$color-fondo-principal: #111111;

// Color de fondo secundario
$color-fondo-secundario: #1E1E1E;

// Color de fondo terciario
$color-fondo-terciario: #353437;

// Color de fondo alterno
$color-fondo-alterno: #C39A67;

// Color de texto
$color-texto: #f8f8f8;